# For scala
*.bsp
*.metals
__pycache__
.scala-build


# rust specific shit 
# Ignore build output and backups
**/target/
**/*.rs.bk
**/*.swp
**/*.swo
/target
**/*.rs.bk
*.swp
*.swo

*.venv

data-analysis-in-python/datasets/*
data-analysis-in-python/examples/*
